.carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;

}
.fab {
    color: #7868e6;
}
.card-footer{
    text-align: center;
    background-color: #ffffff
}

.card-text{
    text-align: left;
    color:  #7868e6;
    font-size: 20;
    padding: 3px;
    
}

.container .form-group .btn-submit{
  width: 100%;
  text-align: center;
  outline: none;
  background:  #7868e6;
  font-size: 16px;
  border: none;
  padding: 15px 0;
  cursor: pointer;
}





  .boton_personalizado{
    text-decoration: none;
    text-align: text-center;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #7868e6;
    border-radius: 3px;
    
  }

  .boton_personalizado:hover{
    color: black;
    background-color: #b8b5ff;
  }


.card-link {
    text-align: center;
    color: #edeef7;
    background-color: #7868e6;
}
.text-primary {
    background-color: #7868e6;
}
.card-title {
    background-color: #edeef7;
}
.card-block {
    background-color: #ffffff
}
.footer {
    background-color: #edeef7;
}
.navbar {
    background-color: #edeef7;
  }
  .navbar .navbar-brand {
    color: #7868e6;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #7868e6;
  }
  .navbar .navbar-text {
    color: #7868e6;
  }
  .navbar .navbar-text a {
    color: #7868e6;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #7868e6; 
  }
  .navbar .navbar-nav .nav-link {
    color: #7868e6;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #7868e6;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #edeef7;
    border-color: #b8b5ff;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #7868e6;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #7868e6;
    background-color: #b8b5ff;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #b8b5ff;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #7868e6;
    background-color: #b8b5ff;
  }
  .navbar .navbar-toggler {
    border-color: #b8b5ff;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #b8b5ff;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #7868e6;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #7868e6;
  }
  .navbar .navbar-link {
    color: #7868e6;
  }
  .navbar .navbar-link:hover {
    color: #7868e6;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #7868e6;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #7868e6;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #7868e6;
      background-color: #b8b5ff;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #7868e6;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #7868e6;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #7868e6;
      background-color: #b8b5ff;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #7868e6;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #7868e6;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #7868e6;
      background-color: #b8b5ff;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #7868e6;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #7868e6;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #7868e6;
      background-color: #b8b5ff;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #7868e6;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #7868e6;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #7868e6;
    background-color: #b8b5ff;
  }