@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

.carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

.list-unstyled {
  color: #7868e6 ;
  text-align: left;
}
.newsletter {
  padding: 10px 0;
  background: #edeef7;
  }
  
.newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  z-index: 2; }
.newsletter .content h2 {
  color: #7868e6;
  margin-bottom: 40px; }
.newsletter .content .form-control {
  height: 35px;
  border-color: #ffffff;
  border-radius:1;
  }
.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #b8b5ff;
  }
.newsletter .content .btn {
  min-height: 35px; 
  border-radius:1;
  background: #7868e6;
  color: #fff;
  font-weight:400;
  }
.border-nuevo {
  border-top: #b8b5ff;
  border-color: #7868e6;
}
.card-block1 {
  width: 340px;
}
.card-text1 {
  color: #7868e6;
  background-color: #ffffff;
  font-size: 15px;
  padding: 10px;
  border: #7868e6;
  border: #7868e6;
  
}
.border {
  color: #b8b5ff;
}
.fab {
    color: #7868e6;
}
.card-footer{
    text-align: center;
    background-color: #ffffff
}

.card-text{
    text-align: left;
    color:  #7868e6;
    font-size: 20;
    padding: 3px;
    
}

.container .form-group .btn-submit{
  width: 100%;
  text-align: center;
  outline: none;
  background:  #7868e6;
  font-size: 16px;
  border: none;
  padding: 15px 0;
  cursor: pointer;
}





.boton_personalizado{
    
    text-align: text-center;
    padding: 1px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #7868e6;
    border-radius: 1px;
    
  }

.boton_personalizado:hover{
    color: black;
    background-color: #b8b5ff;
    border-radius: 1;
  }


.card-link {
    text-align: center;
    color: #edeef7;
    background-color: #7868e6;
}
.text-primary {
    background-color: #7868e6;
}
.card-title {
    background-color: #edeef7;
}
.card-block {
    background-color: #ffffff
}
.footer {
    background-color: #edeef7;
}
.navbar {
    background-color: #edeef7;
  }
  .navbar .navbar-brand {
    color: #7868e6;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #7868e6;
  }
  .navbar .navbar-text {
    color: #7868e6;
  }
  .navbar .navbar-text a {
    color: #7868e6;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #7868e6; 
  }
  .navbar .navbar-nav .nav-link {
    color: #7868e6;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #7868e6;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #edeef7;
    border-color: #b8b5ff;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #7868e6;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #7868e6;
    background-color: #b8b5ff;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #b8b5ff;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #7868e6;
    background-color: #b8b5ff;
  }
  .navbar .navbar-toggler {
    border-color: #b8b5ff;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #b8b5ff;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #7868e6;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #7868e6;
  }
  .navbar .navbar-link {
    color: #7868e6;
  }
  .navbar .navbar-link:hover {
    color: #7868e6;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #7868e6;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #7868e6;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #7868e6;
      background-color: #b8b5ff;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #7868e6;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #7868e6;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #7868e6;
      background-color: #b8b5ff;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #7868e6;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #7868e6;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #7868e6;
      background-color: #b8b5ff;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #7868e6;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #7868e6;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #7868e6;
      background-color: #b8b5ff;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #7868e6;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #7868e6;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #7868e6;
    background-color: #b8b5ff;
  }




.oscuro{ 
    background-color: #1f1f1f; 
    color: #f1eded; 
}